WECHAT_DEVTOOLS_CLI=D:\Program Files (x86)\Tencent\微信web开发者工具\cli.bat
WEAPP_PROJECT_PATH=F:\BITerstore\app\miniProgram\dist
WECHAT_DEVTOOLS_SERVICE_PORT=
WEAPP_AUTOMATION_PORT=9420
WEAPP_LAUNCH_WAIT_MS=12000
WECHAT_DEVTOOLS_CLI_TOKEN=
BITERSTORE_API_URL=http://localhost:3100/api/v1
BIT_LOGIN_URL=https://login.bit101.flwfdd.xyz
